:root {
  font-family: sans-serif;
  color: #444;
  font-size: 15px;
}

body {
  margin: 0;
}

input, button {
  padding: .6rem;
  border: 1px solid rgba(0, 0, 0, .1);
  outline: 0;
  font-size: .8rem;
}

input:focus,
button:focus {
  outline: 2px solid #cfa8ff;
}

form label,
form input {
  display: block;
  width: 100%;
  margin: .3rem 0;
}

main {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

[hidden] {
  display: none !important;
}

.tag-wrapper {
  padding: .4em;
  border: 2px solid royalblue;
  -webkit-box-shadow: inset 0 0 4px royalblue;
  -moz-box-shadow: inset 0 0 4px royalblue;
  box-shadow: inset 0 0 4px royalblue;
}

.tag-wrapper * {
  display: inline-block;
}

.tag-input input {
  border: 0;
  outline: 0;
}

.tag-input input,
.tag {
  padding: .5em 1em;
  font-size: 1rem;
}

.tag {
  margin-right: .2em;
  background: royalblue;
  color: #fff;
  -webkit-border-radius: 1em;-moz-border-radius: 1em;border-radius: 1em;
}

.tag.danger {
  background: tomato;
}