:root {
  font-family: sans-serif;
  color: #444;
  font-size: 15px;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
}

input,
button {
  padding: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: 0;
  font-size: 0.8rem;
}

input:focus,
button:focus {
  outline: 2px solid #cfa8ff;
}

form label,
form input {
  display: block;
  width: 100%;
  margin: 0.3rem 0;
}

main {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

[hidden] {
  display: none !important;
}

:root {
  background: #ff8e8e;
}

h1 {
  color: #fff;
}

main {
  max-width: 450px;
}

.post {
  background: #fff;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.post > * {
  margin-bottom: 0.5em;
}

.post.text {
  background: #c7e6ff;
}

.post.image {
  background: #ffeda1;
}

.post > *:last-child {
  margin-bottom: 0;
}
